body{
  background-color:white;
}
#Izzy{
  /* Ask a Ta about how to align a border with an image */
  position: relative;
margin-left: 230px;
  height: 400;
  width: 250px;
  border: 8px solid black;
  border-radius: 56px;
  padding: 23px;
}
#mg{
  position: relative;
  margin-left: 250px;
  height: 125px;
  width: 300px;
}
#Blog{
  border: 8px solid blue;

}
#LegoPic {
  position: relative;
  margin-left: 330px;
  height: 400;
  width: 350px;
}
