
/* For all or most pages css */
.Home_Button {
  margin-left: 300px;
}
/* For the home Page only */
#logo{
  display: inline;
  margin-top: -105px;
    margin-right: 20px;
  height: 100px;
  width: 100px;
}
#gif{
  display: block;
  margin-top: -1px;
    margin-left: 85px;
  height: 300px;
  width: 500px;
  top: 12px;
}
h1{
  display: inline;
  text-align: center;
  margin-top: -100px;
}
#Izzy{
  /* Ask a Ta about how to align a border with an image */
  position: relative;
margin-left: 230px;
  height: 300px;
  width: 350px;
  border: 8px solid black;
  border-radius: 56px;
  padding: 1px;
}
#songs{
  position: relative;
  top: 5px;
  padding: 5px;
  font-size: 11px;
  border: 5px solid #000000
}
#song:hover{
  background-color: : blue;
}
/* This css is for the blog page only */
#Blog_Body{
  background-color: orange;
}
#cssi_logo{
  position: relative;
  margin-left: 250px;
  height: 125px;
  width: 300px;
}
#Blog{
  border: 8px solid blue;

}
#LegoPic {
  position: relative;
  margin-left: 330px;
  height: 400;
  width: 350px;
}

.topnav{
  list-style-type: none;
  	margin: 0;
  	padding: 0;
  	text-align: center;
  	margin-top: 80px;
}
/* css for the Bio Page  */
#banny{
  height: 400px;
  width: 450px;
}
#Bio_Body{
  background-color: #b0e0e6;
}
/* For the Contact.html */
#Comment_Body{
  /* Powder Blue */
  background-color: #b0e0e6
}
