<html>
<head>
  <title> Contact Page </title>
  <link rel="stylesheet" href="/resources/Ayo.css">
</head>
  <body id=Comment_Body>
  <!-- Home Button  -->
  <p> {{greeting}} </p>
  <button class="Home_Button" id="Home_Button_Contact" type="button"><a href="/Israel.html">Home</a></button>
<h1> Israel Ali Contact Info  </h1>
<h3> Email israelali1424@gmail.com </h3>
<h3> FaceBook Israel Ali </h3>
<h3> Instagram  its_real396 </h3>
<h3>Comments</h3>
     <div id="comments">
       <p id="no-comments">There are no comments on this post yet.</p>
     </div class="user-comments">
     <h3>Leave a Comment</h3>
     <form id="comment-form" action="javascript:void(0);">
       <textarea id="comment-content" name="content"></textarea>
       <input type="submit" value="Post Comment">
     </form>
</div>
<!-- Link to my FaceBook with the logo -->
<a href="https://www.facebook.com/israel.ali.796"><img src="//login.create.net/images/icons/user/facebook_40x40.png" border=0></a>
<a  href="https://www.instagram.com/its_real396/?hl=en"><img src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" border=0></a>
<!-- Links to Jquary -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src ="Israel.js"></script>
</body>
</html>
